

.contacto{
  background-color: black !important;
  margin-bottom: 50px;
}



.btn-gradient-5{
  margin-top: 20px;
  font-weight: 700;
  width: 200px;
  justify-content: center;
  color: black;
  font-size: 20px;
  padding:10px;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 60px;
  border: 6px solid transparent;
  border-spacing: 10px;
 }
 
 .parrafo3{
  color: $tituloblanco;
  
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
