

.navbar{
    background-color: $titulonegro;
    height: 55px;

}

.navbar-nav{
    gap:5px;
    background-color: $titulonegro;
    display: flex;
    align-items: flex-end;
    

}



.divisor{
    background-image: url(../img/SVG/barra.svg);
    height: 300px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: -150px;
    
    
}