

.navbar{
    background-color: $titulonegro;
    height: 55px;

}

.navbar-nav{
    
    display: flex;
    align-items: flex-end;
    background-color: black;
    gap: -10px;

}






.divisor{
    background-image: url(../img/SVG/barra.svg);
    height: 300px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: -150px;
    
    
}