header{
    overflow-x: hidden;
}

.navbar{
    background-color: black;
    height: 45px;

}

.navbar-nav{
    gap:15px;
}

.divisor{
    background-image: url(/img/SVG/barra.svg);
    height: 300px;
    width: 1700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: -150px;
    
    
}