.navbar{
    background-color: black !important;
}


.divisor{
    background-image: url(../img/SVG/barra.svg);
    height: 300px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: -150px;
    
    
}
