h1{
  margin-top: 40px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  color:#EB7428;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  animation-name: h1cambiodecolor;
  animation-duration: 10s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
 
}

@keyframes h1cambiodecolor{
    25% {
      color: #ED897D;
    }

    50% {
      color: #4f4c49;
      
    }

    75%{
      color: cadetblue;
    }
  }

  h2{
    font-size: 50px;
    text-align: center;

  }

  h3{
    text-align: center;
  }

  span{
    font-weight: 700;
  }

  .container-fluid-negro{
    margin-top: 120px;
    background-color: black;
    height: 800px;
  }

  .container-fluid-negro2{
    margin-top: 200px;
    background-color: black;
    height: 800px;
    
  }

  .container-fluid-blanco{
    margin-top: 120px;
    height: 800px;

  }
    

  

   .btn-gradient-2{
    margin-top: 40px;
    font-weight: 700;
    width: 300px;
    justify-content: center;
    color: white;
    font-size: 30px;
    padding:10px;
    background: linear-gradient(black, black) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 60px;
    border: 6px solid transparent;
    border-spacing: 10px;
   }

   .btn-gradient-3{
    margin-top: 20px;
    font-weight: 700;
    width: 300px;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding:10px;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 60px;
    border: 6px solid transparent;
    border-spacing: 10px;
   }

   
    
    
  

   .imagen {
    background-image: url(../img/SVG/gourmet.svg);
    height: 650px;
    width: auto;
    background-repeat: no-repeat;
    margin-top: 20px;
    
  }
  
  .imagen2 {
    background-image: url(../img/SVG/mudanza\ caja.svg);
    height: 650px;
    background-repeat: no-repeat;
    margin-left: 300px; 
  }

  .imagen3 {
    background-image: url(../img/SVG/monstruos.svg);
    height: 550px;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 20px;
    
  }


  .row-txt{
    margin-top:20px;
    color: $tituloblanco;
    font-weight: 700;
  }

  .row-txt-negro{
    margin-top:20px;
    color: $titulonegro;
    font-weight: 700;
   
  }




  @media only screen and (max-width: 575px){

    h1{
      margin-top: -30px;
    }

    h2{
      font-size: 30px;
  
    }
    .imagen{
      height: 250px;
    }

    .imagen2{
      margin-top: 10px;
      height: 500px;
      margin-left: 0px;
    }

    .imagen3{
      height: 400px;
      margin-left: 0px;
    }
    .container-fluid-negro{
      margin-top: 100px;
      background-color: black;
      height: 500px;
  }

  .container-fluid-negro2{
    margin-top: 10px;
    background-color: black;
    height: 700px;
  }
}
