

.embed-responsive{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    
  }

  @media only screen and (max-width: 575px){
    .productostit {
        margin-bottom: 0px;  
   } 
  } 

