@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/nosotros";
@import "./partials/productos";
@import "./partials/videos";
@import "./partials/contacto";